<app-header></app-header>
<div [ngClass]="{'login-container': !showSidebar}" class="container-fluid">
  <div class="row heigth-auto">
    <div *ngIf="showSidebar" class="col-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
    <div [class.col-10]="showSidebar" [class.col-12]="!showSidebar" class="p-4 content">
      <div *ngIf="showSearch">
        <input [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Buscar" class="form-control mb-3"/>
      </div>
      <div *ngIf="showBackButton">
        <button class="btn btn-secondary mb-3" (click)="goBack()">Voltar</button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
