.container-fluid {
  margin-top: 56px; /* Altura do header fixo */
}

.row {
  height: auto
}

aside {
  width: 200px; /* Largura do sidebar */
}

.content {
  margin-left: 200px; /* Largura do sidebar */
  padding: 20px;
}
